.carousel {
    position: relative;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-content {
    margin-bottom: 20px;
    P{
        font-size: 1rem;
        
    }
  
  
  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
  }
}
  button {
    background-color: color-button;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  button:hover {
    background-color: #6a8db1;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;

    img {
        max-width: 100%;
        max-height: 400px;
        border-radius: 8px;
        object-fit: cover;
    }

    .prev, .next {
        background: #007bff;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background: #0056b3;
        }
    } }