form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ajout d'ombre pour plus de profondeur */
}

form label {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}

form input,
form textarea {
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
  border-color: #9fa9b3;
}

form button {
  padding: 15px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

form button:hover {
  background-color: #9fa9b3;
  transform: scale(1.05); /* Légère augmentation de taille au survol */
}

form button:focus {
  outline: none;
}

form button:active {
  transform: scale(1); /* Réduit l'élément à sa taille d'origine au clic */
}

.success-message {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

button {
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &.sent {
    background-color: green;
  }
}

/* Style pour les messages d'erreur */
.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

input:invalid,
textarea:invalid {
  border-color: red;
}

input:valid,
textarea:valid {
  border-color: green;
}
