

 

  
  

form {
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    gap: 30px; /* Espace entre les éléments */
    max-width: 500px; /* Limite la largeur du formulaire */
    margin: 0 auto; /* Centrer le formulaire horizontalement */
    padding: 20px;
    background-color: #f9f9f9; /* Ajoute une couleur de fond au formulaire */
    border-radius: 8px; /* Coins arrondis */
    /* Ombre douce pour un effet 3D */
  
    label {
      font-size: 16px;
      margin-bottom: 8px;
      font-weight: bold;
    }
  
    input, textarea {
      padding: 20px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      transition: border-color 0.3s ease;
  
      &:focus {
        border-color: #9fa9b3 ; /* Change la couleur de la bordure lorsqu'on est sur le champ */
      }
    }
  
    button {
      padding: 15px 20px;
      background-color: #333;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color:  #9fa9b3; /* Changement de couleur au survol */
      }
    }
  }
