form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
}

form label {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}

form input,
form textarea {
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
  border-color: #9fa9b3;
}

form button {
  padding: 15px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #9fa9b3;
}
.success-message {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &.sent {
    background-color: green;
  }
}
