@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500');

// Définir les couleurs et les variables globales
:root {
  // Couleurs pour le mode clair
  --body-bg-color: #ffffff;
  --text-color: #333333;
  --sidebar-bg-color: #f4f4f4;
  --title-color: #111111;
  --date-color: #1f94c2;

  // Couleurs pour le mode sombre
  --dark-body-bg-color: #242424;
  --dark-text-color: #d8d8d8;
 
  --dark-title-color: #ffffff;
  --dark-date-color: #e6ef71;

  // Couleurs des icônes
  --icon-color: var(--text-color);
  --dark-icon-color: var(--dark-text-color);
  
  // Autres variables utiles
  --circle-color: #aaa;
  --circle-color-plain: #555;
  --dark-circle-color: rgb(108, 108, 108);
  --dark-circle-color-plain: rgb(238, 238, 238);

  // Fonts
  --body-font: "Poppins", "Sans-serif";
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;
}

// Application des styles généraux
body {
  font-family: var(--body-font);
  font-weight: 200;
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

h1, h2, h3 {
  margin-bottom: 0.4rem;
  font-weight: 400;
  color: var(--title-color);
}

p {
  margin-bottom: 0.8rem;
}

ul {
  padding-left: 1.3rem;
}

li {
  margin-bottom: 0.8rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

// Mode sombre (classe .dark)
.dark {
  background-color: var(--dark-body-bg-color);
  color: var(--dark-text-color);

  h1, h2, h3 {
    color: var(--dark-title-color);
  }

  a {
    color: var(--dark-text-color);
  }

  button {
    color: var(--dark-text-color);
  }
  
  .circle {
    background: var(--dark-circle-color);
  }

  .circle--plain {
    background: var(--dark-circle-color-plain);
  }
}

// Icone pour basculer le mode sombre/clair
.darkModeButton {
  color: rgb(160, 105, 41);
}




// Cercle pour le mode sombre/claire
.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  background: var(--circle-color);
}

.circle--plain {
  background: var(--circle-color-plain);
}

.dark .circle {
  background: var(--dark-circle-color);
}

.dark .circle--plain {
  background: var(--dark-circle-color-plain);
}
