.feedback{
    padding: 40px;
}
.feedbackBut {
    
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #9fa9b30f;
    transition: background-color 0.3s ease;
color: #333;
    display: flex;
    justify-content: center;
    align-items: center;


    margin: 0 auto; /* Centrage horizontal */
}
  
  .feedbackBut:hover {
    background-color: #9fa9b3;
  }