/* .feedback */
.feedback {
  padding: 60px;
}

/* Bouton principal */
.feedbackBut {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #333;
  transition: background-color 0.3s ease, transform 0.3s ease-in-out;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Hover et focus */
.feedbackBut:hover {
  background-color: #9fa9b3;
}

.feedbackBut:focus {
  outline: 3px solid #ffcc00;
  outline-offset: 2px;
}

/* Chevron ouvert */
.feedbackBut.open .chevron {
  transform: rotate(180deg);
}

/* Lien mentor */
.mentor-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: #333;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: #9fa9b3 0px 0px 15px;
}

/* Hover sur le lien mentor */
.mentor-link:hover {
  background-color: #9fa9b3;
  color: #fff;
}
