.footer{
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    border-top: 1px solid #6c757d;
    a{
        color: #fff;
        text-decoration: none;
        &:hover{
            color: #e9ecef;
        }
    }
}